@font-face {
    font-family: 'Cordel';
        src: url(https://fonts.gstatic.com/s/passionone/v20/PbynFmL8HhTPqbjUzux3JEuf9lvQ6Q.woff2) format('woff2');
        font-weight: normal;
}


:root {
    --font1: verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Cordel', cursive;
    --font3: ;
}

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;

}

h1 {

    font-size: 10vw;
}

p {
   font-family: var(--font1);
   font-weight: normal;
   font-size: 0.7em;
   padding-bottom: 50px;


}


a {
    text-decoration: none;
    font-family: var(--font1);
    font-weight: bolder;
    color: white;
}


a:hover {
    text-decoration: underline;
}